<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<title>購入相談</title>
</head>


<body>

<h1>購入相談</h1>


<h2>
<%= chatRoom.listing.book.title %>
</h2>

<p>
授業：
<%= chatRoom.listing.book.courseName %>
</p>


<hr>


<h2>メッセージ</h2>


<div>

<% if (chatRoom.messages.length === 0) { %>

<p>
まだメッセージはありません
</p>


<% } %>



<% chatRoom.messages.forEach(message => { %>


<div>

<strong>
<%= message.sender.name %>
</strong>

<br>

<%= message.content %>

<br>

<small>
<%= message.createdAt %>
</small>


</div>

<hr>


<% }) %>


</div>


<hr>



<form action="/chat/<%= chatRoom.id %>/message" method="post">

<input 
    type="text"
    name="content"
    placeholder="メッセージ入力"
    required
>

<button type="submit">
送信
</button>

</form>
<br>

<% if (chatRoom.sellerId === myId 
    && chatRoom.listing.status === "SELLING") { %>


<form action="/chat/<%= chatRoom.id %>/accept" method="post">

<button type="submit">
この人と取引する
</button>

</form>


<% } %>

<hr>

<% if (
  chatRoom.listing.status === "RESERVED" &&
  (
    chatRoom.sellerId === myId ||
    chatRoom.buyerId === myId
  )
) { %>


<form action="/listing/<%= chatRoom.listing.id %>/complete" method="post">

<button type="submit">
受け渡し完了
</button>

</form>


<% } %>


<a href="/">戻る</a>

</body>
</html>