<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>商品詳細</title>
</head>

<body>

<h1><%= listing.book.title %></h1>

<p>授業：<%= listing.book.courseName %></p>

<p>定価：<%= listing.book.originalPrice %>円</p>

<p>出品価格：<%= listing.price %>円</p>

<p>状態：<%= listing.condition ?? "未設定" %></p>

<p>出品者：<%= listing.seller.name %></p>

<% if (listing.imageUrl) { %>

<img src="<%= listing.imageUrl %>" width="300">

<% } else { %>

    <p>画像は登録されていません。</p>

<% } %>



<% if (listing.sellerId !== myId && listing.status === "SELLING") { %>

<form action="/chat/start/<%= listing.id %>" method="post">
    <button type="submit">
        購入相談する
    </button>
</form>

<% } %>

<% if (listing.status === "RESERVED") { %>

<p style="color: orange;">
    現在取引中です
</p>

<% } %>

<% if (listing.status === "SOLD") { %>

<p style="color: red;">
    売却済みです
</p>

<% } %>


<% if (listing.sellerId === myId) { %>

<hr>

<h2>購入相談一覧</h2>


<% if (listing.chatRooms.length === 0) { %>

<p>
まだ購入相談はありません。
</p>


<% } else { %>


<% listing.chatRooms.forEach(chat => { %>


<div>

<p>
購入希望者：
<%= chat.buyer.name %>
</p>


<% if (chat.messages.length > 0) { %>

<p>
最新メッセージ：
<%= chat.messages[0].content %>
</p>

<% } else { %>

<p>
まだメッセージはありません。
</p>

<% } %>


<a href="/chat/<%= chat.id %>">
チャットを見る
</a>


</div>

<hr>


<% }) %>


<% } %>


<% } %>

<hr>

<a href="/">← 戻る</a>

</body>
</html>